{% extends '::base.html.twig' %}

{% block body %}


    <div class = "header">
        <img src="{{ asset('couleur_photo/Default/logo-header.png') }}" class="header" alt="Logo header">
        <p class="baseline"> Notre campus réunit les formations des métiers de demain</p>
    </div>

    <div class="logo">
        <div class="zoom">
            <a href="{{ path('workshop_epsi') }}">
                <img src="{{ asset('couleur_photo/EPSI/epsi.png') }}" alt="logoEpsi"/>
            </a>
        </div>
        <div class="zoom">
            <a href="{{ path('workshop_wis') }}">
                <img src="{{ asset('couleur_photo/Wis/Logo/apple-touch-icon.png') }}" alt="logoWiz"/>
            </a>
        </div>
        <div class="zoom">
            <a href="{{ path('workshop_ifag') }}">
                <img src="{{ asset('couleur_photo/Ifag/logo.png') }}" alt="logoIfag"/>
            </a>
        </div>
    </div>
    <div class="footer">
        <p>Découvrir notre campus à l'aide de l'une des 3 écoles fondatrices</p>
        <img class="wave-img" src="{{ asset('couleur_photo/Default/wave.svg') }}" alt="Logo footer">
    </div>
{% endblock %}
